* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #181a1b;
    scroll-behavior: smooth;
}

#f_container {
    max-height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8%;
}

#f_container h1{
    font-size: 7vw;
    font-weight: 800;
    line-height: 7vw;
    color: white;
}

#f_container p{
    padding:  0 150px 0 150px;
    text-align: center;
    font-weight: 410;
    margin-top: 4vh;
    color: white;
    font-size: 1.8rem;
}
#btn{
    text-transform: uppercase;
    height: 6vh;
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
    background: #0af770;
    cursor: pointer;
}

#btn:hover{
    background-color: #2e7e52;
    animation: bounch 0.5s ease;
    transform: scale(1.1);
}
/* .video_container{
    height: 80vh;
    width: 100%;
   
} */

video{
    margin-top: 4vw;
    border-radius: 85px;
    width: 100vw;
    height: 80vh;
    padding: 30px;
}






@keyframes bounce {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.9s);
    }
}


/* General styles for 600px and below */
@media (max-width: 600px) {
  
    #f_container h1 {
        font-size: 9vw; 
        line-height: 12vw;
    }

    #f_container p {
        padding: 15px;
        font-size: 6vw;
        margin: 1vh 10px; 
    }

    #btn{
        height: 6vh;
        margin-top: 0px;
    }

   
    video {
        width: 90vw; /* Slightly smaller width */
        height: 50vh;
        padding: 15px;
        border-radius: 15px;
    }

    /* Adjust container padding */
    #f_container {
        /* margin-top: 30%; */
        padding: 0 10px;
    }

    /* Additional sections */
    #program_section, #Membership_section, #last_section {
        padding: 10px;
        text-align: center;
    }
}
