html {
    scroll-behavior: smooth;
}
#Membership_section {
    padding: 40px;
    background-color: #181a1b;
}

#s_container {
    text-align: center;
}

#s_container h1 {
    font-size: 3vw;
    margin-bottom: 20px;
    color:white;
    animation: slideIn 1s ease-out forwards;
}

#s_container p {
    font-size: 1.5vw;
    color: white;
    max-width: 800px;
    margin: 0 auto 20px;
    animation: fadeIn 2s ease-out forwards;
}

.s_main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
    margin-top: 20px;
}

.s_left, .s_right {
    padding: 40px;
    background-color: #53c4849a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.s_left h1, .s_right h1 {
    font-size: 1.8vw;
    margin-bottom: 10px;
    color: #444;
    
}
.s_left h4 span, .s_right h4 span {
    color: blueviolet;
}


.s_left h4, .s_right h4 {
    font-size: 1.2vw;
    margin-bottom: 10px;
    animation: slideIn 1s ease-out forwards;
}

.s_left p, .s_right p {
    font-size: 0.9vw;
    margin-bottom: 15px;
    animation: fadeIn 3s ease-out forwards;
}

.s_btn {
    padding: 10px 20px;
    font-size: 1vw;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: popup 0.8s ease-out forwards;
}

.s_btn:hover {
    background-color: #0056b3;
    transform: translateY(-7px);
}


/* slideIn h1 */

@keyframes slideIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* for p */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* for btn */
@keyframes popup {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}






@media (max-width: 600px) {
    #s_container h1 {
        font-size: 8vw;
    }

    #s_container p {
        font-size: 3vw;
    }

    .s_main {
        flex-direction: column;
        gap: 20px;
    }

    .s_left, .s_right {
        padding: 15px;
    }

    .s_left h1, .s_right h1 {
        font-size: 3vw;
    }

    .s_left h4, .s_right h4 {
        font-size: 3vw;
    }

    .s_left p, .s_right p {
        font-size: 3vw;
    }

    .s_btn {
        font-size: 3vw;
        padding: 8px 16px;
    }
}
