* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

/* Navbar Styles */
#nav {
  height: 9vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vw;
  position: fixed;
  top: 0;
  z-index: 1000;
  /* background-color: #fff; */
  background-color: #0d0e0e;
}

#nav h1 {
  font-size: 3vw;
  color: #0af770;
}

#r_nav {
  display: flex;
  gap: 1vw;
}

#r_nav a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 50px;
  font-weight: 200;
}

#r_nav a:hover {
  background-color: #95a79d; 
  color: #0af770; 
  border-color: rgb(173, 173, 173);  
  transition: all 0.3s ease;
}

.ri-menu-fold-4-line {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}




/* Mobile View - 600px or less */
@media (max-width: 600px) {


  #nav {
    height: 9vh;
    width: 100%;
    padding: 0 6vw;
    max-width: 100%;
  }

  #nav h1 {
    font-size: 8vw;
    color: #0af770;
  }


  #r_nav a {
      display: none;
      width: 100%;
      padding: 15px;
      border-radius: 0;
  }

  .ri-menu-fold-4-line {
      display: block;
  }

  #r_nav.active a {
      display: block;
      background-color: #333;
      color: #fff;
      
  }

  
}
