* { 
     margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{
    height: 100%;
    width: 100%;
    background-color:#dbdfe0;
}


#why_us{
    height: 70vh;
    width: 100%;
    /* background-image: url(/img/pexels-brunogobofoto-2204196.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition:background-image 1s ease-in-out;
    animation: bh 10s infinite;
   
}  

@keyframes bh {
  0% {  background-image: url("/img/pexels-cottonbro-4752836.jpg"); }
  20% { background-image: url('/img/pexels-annushka-ahuja-7991653.jpgs'); }
  40% { background-image: url('/img/pexels-leonardho-1552242.jpg'); }
  60% { background-image: url('/img/pexels-shkrabaanthony-5878680.jpg'); }
  80% { background-image: url('/img/pexels-olly-868483.jpg'); }
  100% { background-image: url('/img/pexels-thelazyartist-2247179.jpg'); }
}

































/* .why-us-section {
    margin-top: 50px; */
    /* background-color: blue; */
    /* width: 100%;
    padding: 0 100px 0 100px;
} */

/* .why-us {
    width: 100%;
    height: 80vh;
    background-image: url("/img/pexels-leonardho-1552242.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    margin-bottom: 10px;
}
.why-us h1{
    font-size: 2.8rem;
}

.why-us p{
    margin-top: 20px;
    font-size: 1.8rem;
}

  
.explanation {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
    background: rgba(180, 41, 169, 0.7);
    border-radius: 10px;
    transition: transform 0.3s;
}

  .explanation:hover {
    transform: scale(1.05);
  }

  .explanation-text {
    flex: 2;
  } */
/* 
  .explanation img { */
    /* background-color: #bb4242;
    width: 120px;
    height: 120px;
    /* border-radius: 50%; */
    /* margin-left: 20px;
  } */ 

  /* Topic Header */
  /* .topic-header {
    font-size: 24px;
    margin-bottom: 10px;
  } */

  /* Responsiveness */
  /* @media (max-width: 768px) {
    .explanation {
      flex-direction: column;
      text-align: center;
    }
    .explanation img {
      margin: 20px 0;
    }
  } */

